.events-page-return-link:hover {
    cursor: pointer;
    color: rebeccapurple;
}

.events-table-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.events-table-container .no-events-heading {
    text-decoration: underline;
}

.events-table {
    border: 1px solid rgba(255, 255, 255, 0.93);
    border-radius: 16px;
    width: 16em;
    background-color: rgba(255,255,255,0.7);
    margin-bottom: 20px;
    text-align: left;
    padding-left: 7px;
    padding-right: 7px;
}

/* Column headers of every table-card */
.events-table tr td h4 {
    margin-top: 10px;
    padding: 0;
}

/* Main heading of every table-card */
.events-table th {
    letter-spacing: 1.2px;
    font-weight: bold;
    font-size: 17px;
    text-transform: uppercase;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
    padding-top: 10px;
}

/* Display less tables for smaller screen */
@media screen and (max-width: 840px) {
    .events-table-container {
        grid-template-columns: 1fr 1fr;
    }
}

/* For mobile, display just one table/event per row */
@media screen and (max-width: 580px) {
    .events-table-container {
        grid-template-columns: 1fr;
    }

    .events-table {
        display: block;
    }
}
