.artist-card-content-wrapper {
    width: 15em;
    float: left;
    background-color: cornsilk;
    position: relative;
    margin:10px auto; /* center this puupy */
    border:1px solid grey; /* see the edges */
}

.artist-card-content-wrapper img {
    border-radius: 50%;
    height: 5em;
    width: 5em;
    margin-top: 2em;
}

.artist-card-content-wrapper img, .artist-card-content-wrapper h4 {
    display:inline-block;
    vertical-align:middle;
}

.artist-card-content-wrapper h4 {
    margin-left: 1em;
}

.artist-card-content-wrapper h5 {
    margin-left:8em;
}

.artist-card {
    border: 1px solid rgba(255, 255, 255, 0.93);
    width: 13em;
    border-radius: 16px;
    background-color: rgba(255,255,255,0.7);
    text-align: center;
    overflow: hidden;
}

.artist-card .artist-card-img {
    width: 13em;
    height: 10em;
}

.artist-card .artist-card-info {
    display: inline-flex;
    text-align: center;
    margin-top: 10px;
}

.artist-card .artist-card-info .artist-name {
    font-weight: bold;
    font-size: 25px;
    margin-top: 10px;
}

.artist-card .artist-card-info .divider {
    font-size: 25px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.artist-card .events-link {
    margin-top: 0;
    font-weight: bold;
    text-decoration: underline;
}

.artist-card .events-link:hover {
    cursor: grabbing;
    color: rebeccapurple;
}

/* Facebook */
.artist-card .fa-facebook {
    background: #3B5998;
    color: white;
    font-size: 22px;
    padding: 5px;
    width: 30px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin-top: 10px;
    margin-right: 5px;
}

.artist-card .fa-facebook:hover {
    opacity: 0.7;
}